;===================================== global namespace
[buildout]
interpreter = python

extensions =
    buildout.sanitycheck
    buildout.threatlevel
    mr.developer
#    lovely.buildouthttp

versions             = versions
show-picked-versions = true
update-versions-file = versions.cfg
newest               = false
prefer-final         = true
unzip                = true

sources              = sources
auto-checkout        = *
always-checkout      = true

allow-hosts          =
find-links           =
eggs                 =
scripts              =
test-eggs            =
zcml                 =
products             =
environment-vars     =
dirs                 =


;===================================== local namespace
[environment]
type                 = NONE

[base]
parts =
    base.message
    base.getsysenv.message
    base.getsysenv
    base.checkdeps.message
    base.checkdeps
    base.mkdirs.message
    base.mkdirs
    base.insteggs.message
    base.insteggs


;===================================== parts
[base.message]
recipe   = honeypy.recipe.message
message  = ${buildout:app} will be installed now.


;------------------------------------- base.getsysenv
[base.getsysenv.message]
recipe   = honeypy.recipe.message
message  = base.getsysenv

[base.getsysenv]
recipe   = collective.recipe.environment


;------------------------------------- base.checkdeps
[base.checkdeps.message]
recipe   = honeypy.recipe.message
message  = base.checkdeps

[base.checkdeps]
recipe   = honeypy.recipe.depcheck
packages = 
    ${dependencies:packages}

[dependencies:linux]
packages = 
    g++ 
    gcc 
    git 
    make 
    python-dev 
    python-setuptools 

[dependencies:macosx]
packages = 
    test

[dependencies:windows]
packages = 
    test


;------------------------------------- base.mkdirs
[base.mkdirs.message]
recipe           = honeypy.recipe.message
message          = base.mkdirs

[base.mkdirs]
recipe           = z3c.recipe.mkdir
remove-on-update = false

paths = 
    ${buildout:dirs}
    ${buildout:directory}/etc
    ${buildout:directory}/var


;------------------------------------- base.insteggs
[base.insteggs.message]
recipe                     = honeypy.recipe.message
message                    = base.insteggs

[base.insteggs]
recipe                     = zc.recipe.egg
#interpreter                = ${buildout:interpreter}
eggs = 
    ${buildout:eggs}
    terminal
# dependent-scripts        = true
scripts                    = ${buildout:scripts}


;===================================== mr.developer sources
; List version controlled recipes (local or remote) here.
; mr.developer will check them out and clone into src/ for you.
; More info on: https://pypi.python.org/pypi/mr.developer
[sources]
honeypy.recipe.message     = git git@github.com:honeypy/honeypy.recipe.message.git branch=master
honeypy.recipe.depcheck    = git git@github.com:honeypy/honeypy.recipe.depcheck.git branch=master 
honeypy.recipe.pyramidsite = git git@github.com:honeypy/honeypy.recipe.pyramidsite.git branch=master 


;===================================== versions
[versions]
zc.buildout                = 2.2.1
setuptools                 = 2.0
zc.recipe.egg              = 2.0.0
