# BUILDOUT ###################################################################################
[buildout]
parts +=
    dependencies.message
    dependencies.depcheck

# PARTS ######################################################################################
[dependencies.message]
recipe  = honeypy.recipe.message
message = DEPENDENCY_CHECK: Read the depcheck report!

[dependencies.depcheck]
recipe  = honeypy.recipe.depcheck
message = DEPCHECKER REPORT IS COMING SOON!!!

# CUSTOM #####################################################################################
[dependencies]
ubuntu_desktop_13.10.1 =
    python-dev
    python-setuptools
    make
    gcc
    g++
    git
    python-pip
    vim
    nginx-full
    libxml2-dev
    libxslt-dev

ubuntu_server_12.04.3 =
    python-dev
    python-setuptools
    make
    gcc
    g++
    git
    python-pip
    vim
    nginx-full
    libxml2-dev
    libxslt-dev

mac_os_x_10.9.2 =
#    package