# CONFIGURE AND INSTALL DIRECTORIES
[buildout]
parts +=
    directories.message
    create-dirs

[directories.message]
recipe = honeypy.recipe.message
message = Defining and creating your common buildout directories.

[dir]
# BUILD
build          = ${buildout:directory}
# SCRIPTS
bin            = ${:build}/bin
# CONFIGS
etc            = ${:build}/etc
# PARTS
parts          = ${:build}/parts
# SOURCES
src            = ${:build}/src
# VARS
var            = ${:build}/var
public         = ${:var}/www
blobstorage    = ${:var}/blobstorage
filestorage    = ${:var}/filestorage
uploads_tmp    = ${:var}/uploads_tmp
pid            = ${:var}/pid
log            = ${:var}/log

[create-dirs]
recipe = z3c.recipe.mkdir
remove-on-update = false
mode = 
user = 
group = 
paths =
    ${dir:etc}
    ${dir:blobstorage}
    ${dir:filestorage}
    ${dir:uploads_tmp}
    ${dir:public}
    ${dir:log}
    ${dir:pid}
