honeypy.buildout

*.py[cod]
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
etc
var
src
sdist
develop-eggs
.installed.cfg
virtualenv.cfg

lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

PKG-INFO

.Python
.bowerrc
fabfile.py
Makefile

.codeintel/
